{% extends "base.html" %}
{% block title %}Профайл пользователя {{ user_profile.get_full_name }} {% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя {{ user_profile.get_full_name }} </h1>
    <h3>Всего постов: {{ post_count }} </h3>
    {% for post in page_obj %}
      <article>
        {% include 'posts/includes/post_header.html' %}
        <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      </article>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
